@page
@model CotizacionesModel
@{
    ViewData["Title"] = "Cotizaciones";
}

<h1>Cotizaciones</h1>

<div>
    @if (Model.HtmlTable != null)
    {
        @Html.Raw(Model.HtmlTable)
    }
    else
    {
        <p>No se pudo generar la tabla HTML.</p>
    }
</div>
