@page
@model quotes_project.Views.Cotizaciones.CotizacionesModel
@{
    ViewData["Title"] = "Cotizaciones";
}
<h1>Cotizaciones</h1>

<div>
    @if (ViewData["HtmlTable"] != null)
    {
        @Html.Raw(ViewData["HtmlTable"])
    }
    else
    {
        <p>No data available to display.</p>
    }
</div>
