@model quotes_project.Models.CotizadorModel
@{
    ViewData["Title"] = "Cotizador";
}

<div class="body">
<h1>Cotizaciones</h1>
</div>
<!--<div class="table-container">
    @Html.Raw(Model.HtmlTable)
</div>

<script src="~/js/listado.js"></script>
-->
<div class="quote-table-container">
    <div class="left-column">
        <!-- Contenido adicional o tablas en la columna izquierda -->
        <p>Contenido de la columna izquierda</p>
    </div>
    <div class="right-column">
        <div class="live-quote-container">
            <table class="live-quote">
                <thead>
                    <tr>
                        <th colspan="3">
                            <img src="/assets/cloud_quote_header.jpg" alt="Header Image">
                        </th>
                    </tr>
                    <tr>
                        <th>Test Left</th>
                        <th></th>
                        <th style="text-align:right;">Test Right</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tester</td>
                        <td>Tester</td>
                        <td>Tester</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
