@model quotes_project.Views.Home.Data.Entities.QuoteEntity

@{
    ViewData["Title"] = "Cotizador";
}

<h2>Crear Cotización</h2>

<form asp-action="Guardar" method="post">
    <div>
        <label for="IdCustomer">No. de Cliente</label>
        <input type="text" id="IdCustomer" name="IdCustomer" required />
    </div>
    <div>
        <label for="CustomerName">Cliente</label>
        <input type="text" id="CustomerName" name="CustomerName" required />
    </div>
    <div>
        <label for="IdProduct">Tipo de Producto</label>
        <input type="text" id="IdProduct" name="IdProduct" required />
    </div>
    <div>
        <label for="IdUser">Usuario</label>
        <input type="text" id="IdUser" name="IdUser" required />
    </div>
    <div>
        <label for="Amount">Monto</label>
        <input type="number" id="Amount" name="Amount" required />
    </div>
    <div>
        <label for="DDate">Fecha</label>
        <input type="date" id="DDate" name="DDate" required />
    </div>
    <button type="submit">Guardar</button>
</form>
