@model quotes_project.Models.CotizadorModel
@{
    ViewData["Title"] = "Cotizador";
}

<h1>Cotizaciones</h1>

<div class="table-container">
    @Html.Raw(Model.HtmlTable)
</div>

<script src="~/js/listado.js"></script>
