@model quotes_project.Models.CotizadorModel

@{
    ViewData["Title"] = "Cotizador";
}

<h2>Crear Cotización</h2>

<form asp-action="Guardar" method="post">
    <div>
        <label for="IdCustomer">No. de Cliente</label>
        <input type="text" id="IdCustomer" name="IdCustomer" required />
    </div>
    <div>
        <label for="CustomerName">Cliente</label>
        <input type="text" id="CustomerName" name="CustomerName" required />
    </div>
    <div>
        <label for="IdProduct">Tipo de Producto</label>
        <input type="text" id="IdProduct" name="IdProduct" required />
    </div>
    <div>
        <label for="IdUser">Usuario</label>
        <input type="text" id="IdUser" name="IdUser" required />
    </div>
    <div>
        <label for="Amount">Monto</label>
        <input type="number" id="Amount" name="Amount" required />
    </div>
    <div>
        <label for="DDate">Fecha</label>
        <input type="date" id="DDate" name="DDate" required />
    </div>
    <button type="submit">Guardar</button>
</form>

<div id="quote-viewer">
    @section scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                // Función para cargar y mostrar el contenido del template HTML
                function mostrarTemplate() {
                    $.ajax({
                        url: '@Url.Action("ObtenerTemplate", "Cotizacion")', // Ruta de la acción del controlador para obtener el template
                        type: 'GET',
                        success: function (data) {
                            $('#quoteViewer').html(data); // Mostrar el contenido del template en el visor
                        },
                        error: function () {
                            console.error('Error al obtener el template HTML.');
                        }
                    });
                }

                // Llamar a la función para mostrar el template cuando la página se carga por completo
                mostrarTemplate();
            });
        </script>
    }
</div>