@page
@model quotes_project.Pages.Cotizaciones.CotizacionesModel
@{
    ViewData["Title"] = "Cotizaciones";
}
<h1>Cotizaciones</h1>

<div>
    @if (!string.IsNullOrEmpty(Model.HtmlTable))
    {
        @Html.Raw(Model.HtmlTable)
    }
    else
    {
        <p>No data available to display.</p>
    }
</div>

<!-- Otras partes del código de tu vista, como el encabezado, etc. -->
<!--

    <div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Cotizaciones creadas</h3>
    </div>

    <div class="box-body">
        <table class="table table-striped">
            <thead>
                <tr class="gridheader">
                    <th>No.Cotizacion</th>
                    <th>Código</th>
                    <th>Cliente</th>
                    <th>Tipo</th>
                    <th>Usuario</th>
                    <th>Bruto</th>
                    <th>Fecha</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>11613</td>
                    <td>1534</td>
                    <td>BWSC Panama S.A.</td>
                    <td>Remoto</td>
                    <td>Jose</td>
                    <td>B/.1,500.00</td>
                    <td>22/05/2024</td>
                    <td class="text-center">
                        <a href="EditarRepVisita.rv?nvisita=11613" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil-square-o"></i><span class="d-none d-ms-inline"> Editar</span>
                        </a>
                        <a href="EnviarEmail.rv?nvisita=11613" class="btn btn-success btn-sm">
                            <i class="fa fa-envelope-o"></i><span class="d-none d-ms-inline"> Email</span>
                        </a>
                        <a href="VerPDF.rv?nvisita=11613" class="btn btn-info btn-sm">
                            <i class="fa fa-file-pdf-o"></i> <span class="d-none d-ms-inline">PDF</span>
                        </a>
                    </td>
                </tr>-->
<!-- Otros registros pueden ir aquí -->
<!--
            </tbody>
        </table>
<nav id="_CtrlPager">
    <ul class="pagination">
        <li class="active page-item">
            <a class="page-link" href="javascript:{}">1</a>
        </li>
    </ul>
</nav>
<input type="hidden" name="_Pager" id="_Pager" value="1">
    </div>
</div>

-->					<td>Rainier</td>
					<td>B/.595.00</td>
					<td>21/05/2024</td>
					<td class="text-center"><a href="EditarRepVisita.rv?nvisita=11611" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i><span class="d-none d-ms-inline"> Editar</span></a> <a href="EnviarEmail.rv?nvisita=11611" class="btn btn-success btn-sm"><i class="fa fa-envelope-o"></i><span class="d-none d-ms-inline"> Email</span></a> <a href="VerPDF.rv?nvisita=11611" class="btn btn-info btn-sm"><i class="fa fa-file-pdf-o"></i> <span class="d-none d-ms-inline">PDF</span></a></td>
				</tr>
				<tr class="gridalternate">
					<td>11610</td>
					<td>3815</td>
					<td>CLINICAS MINIMED</td>
					<td>Remoto</td>
					<td>Lourin</td>
					<td>B/.2,650.00</td>
					<td>21/05/2024</td>
					<td class="text-center"><a href="EditarRepVisita.rv?nvisita=11610" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i><span class="d-none d-ms-inline"> Editar</span></a> <a href="EnviarEmail.rv?nvisita=11610" class="btn btn-success btn-sm"><i class="fa fa-envelope-o"></i><span class="d-none d-ms-inline"> Email</span></a> <a href="VerPDF.rv?nvisita=11610" class="btn btn-info btn-sm"><i class="fa fa-file-pdf-o"></i> <span class="d-none d-ms-inline">PDF</span></a></td>
				</tr>
			</tbody>
		</table>
		<nav id="_CtrlPager">
			<ul class="pagination">
				<li class="active page-item"><a class="page-link" href="javascript:{}">1</a></li>
			</ul>
		</nav>
		<input type="hidden" name="_Pager" id="_Pager" value="1">

	</div>

</div>
					<td>B/.595.00</td>
					<td>21/05/2024</td>
					<td class="text-center"><a href="EditarRepVisita.rv?nvisita=11611" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i><span class="d-none d-ms-inline"> Editar</span></a> <a href="EnviarEmail.rv?nvisita=11611" class="btn btn-success btn-sm"><i class="fa fa-envelope-o"></i><span class="d-none d-ms-inline"> Email</span></a> <a href="VerPDF.rv?nvisita=11611" class="btn btn-info btn-sm"><i class="fa fa-file-pdf-o"></i> <span class="d-none d-ms-inline">PDF</span></a></td>
				</tr>
				<tr class="gridalternate">
					<td>11610</td>
					<td>3815</td>
					<td>CLINICAS MINIMED</td>
					<td>Remoto</td>
					<td>Lourin</td>
					<td>B/.2,650.00</td>
					<td>21/05/2024</td>
					<td class="text-center"><a href="EditarRepVisita.rv?nvisita=11610" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i><span class="d-none d-ms-inline"> Editar</span></a> <a href="EnviarEmail.rv?nvisita=11610" class="btn btn-success btn-sm"><i class="fa fa-envelope-o"></i><span class="d-none d-ms-inline"> Email</span></a> <a href="VerPDF.rv?nvisita=11610" class="btn btn-info btn-sm"><i class="fa fa-file-pdf-o"></i> <span class="d-none d-ms-inline">PDF</span></a></td>
				</tr>
			</tbody>
		</table>
		<nav id="_CtrlPager">
			<ul class="pagination">
				<li class="active page-item"><a class="page-link" href="javascript:{}">1</a></li>
			</ul>
		</nav>
		<input type="hidden" name="_Pager" id="_Pager" value="1">

	</div>

</div>
