@{
    ViewData["Title"] = "Log In";
}

<div class="text-center">
    <h1 class="display-4" style="border-top-width: 0px;border-top-style: solid;margin-top: 80px;">Cotizaciones PayDay</h1>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<form class="center" id="login" asp-controller="Account" asp-action="Login" method="post">
    <h1 class="form-title" style="text-align:center">Inicio de Sesión</h1>
    <div class="form-input-group">
        <div class="input input-username">
            <input type="text" class="form-control" id="InputUser" autofocus placeholder="Usuario" name="username">
        </div>
        <div class="input input-password">
            <input type="password" class="form-control" id="InputPassword" placeholder="Contraseña" name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>
