@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Cotizaciones PayDay</h1>
</div>

<form asp-action="Login" method="post" class="center" id="login">
    <h1 class="form-title">Inicio de Sesión</h1>
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="form-message-error">@ViewData["ErrorMessage"]</div>
    }
    <div class="form-input-group">
        <div class="input input-username">
            <input type="text" class="form-control" name="username" id="InputUser" autofocus placeholder="Usuario" required>
        </div>
        <div class="input input-password">
            <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Contraseña" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>
