@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cotizaciones PayDay</h1>
</div>

<form class="center"id="login">
    <h1 class="form-title">Inicio de Sesión</h1>
    <div class="form-message-error">Usuario/Contraseña incorrecto.</div>
    <div class="form-input-group">
        <div class="input-username" style="margin-bottom:15px"> 
            <input type="text" class="form-control" id="exampleInputUser" placeholder="Usuario">
        </div>
        <div class="input-password" style="margin-bottom:10px">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
        <div class="form-check-remember" style="margin-bottom:25px">
            <input type="checkbox" class="form-check-input" id="remember-user-credentials">
                <label class="form-check-label" for="remember-user-credentials">No cerrar sesión</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>





