@model quotes_project.Models.ListadoModel
@{
    ViewData["Title"] = "Listado";
}

<h1 class="text-center">Cotizaciones</h1>

<div class="container-fluid justify-content-center align-items-center">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                @Html.Raw(Model.HtmlTable)
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/listado.js"></script>
