@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cotizaciones PayDay</h1>
</div>

<!--

    <form class="center"id="login">
    <h1 class="form-title">Inicio de Sesión</h1>
    <div class="form-message-error">Usuario/Contraseña incorrecto.</div>
    <div class="form-input-group">
        <div class="input input-username"> 
            <input type="text" class="form-control" id="InputUser" autofocus placeholder="Usuario">
        </div>
        <div class="input input-password">
            <input type="password" class="form-control" id="InputPassword" placeholder="Contraseña">
        </div>
        <div class="form-check-remember">
            <input type="checkbox" class="form-check-input" id="RememberUser">
                <label class="form-check-label" for="RememberUser">No cerrar sesión</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

-->

